.container {
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    display: inline-block
	width: 80%;
	margin: 0 auto;
}

header::after {
  content: 
  display: table;
  clear: both;
}


nav {
    float: right;
  }
  
  nav ul {
    margin: 20px;
    padding: 20px;
    list-style: 
  }
  
  nav li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 10px;
  
    position: relative;
    
  }
.container1 {
    display: inline;
    float: right;
}
.button {
    margin: 20px
}